<form class="decor" [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-left-decoration"></div>
  <div class="form-right-decoration"></div>
  <div class="circle"></div>
  <div class="form-inner">
    <h3>Sing up</h3>
    <input type="text" placeholder="*Your name" formControlName="name" />
    <div
      class="invalid"
      *ngIf="form.get('name').invalid && form.get('name').touched"
    >
      <small *ngIf="form.get('name').errors.required">
        The field name cannot be empty
      </small>
      <small *ngIf="form.get('name').errors.minlength">
        Minimum number of characters
        {{ form.get("name").errors.minlength.requiredLength }} <br />
        Your number of characters
        {{ form.get("name").errors.minlength.actualLength }}
      </small>
    </div>
    <input type="email" placeholder="*Your email" formControlName="email" />
    <div
      class="invalid"
      *ngIf="form.get('email').invalid && form.get('email').touched"
    >
      <small *ngIf="form.get('email').errors.required">
        The field email cannot be empty
      </small>
      <small *ngIf="form.get('email').errors.email"> Email Incorrect </small>
    </div>
    <input
      type="password"
      placeholder="*Your password"
      formControlName="password1"
      #password1
    />
    <div
      class="invalid"
      *ngIf="form.get('password1').invalid && form.get('password1').touched"
    >
      <small *ngIf="form.get('password1').errors.required">
        The field name cannot be empty
      </small>
      <small *ngIf="form.get('password1').errors.minlength">
        Minimum number of characters
        {{ form.get("password1").errors.minlength.requiredLength }} <br />
        Your number of characters
        {{ form.get("password1").errors.minlength.actualLength }}
      </small>
    </div>
    <input
      type="password"
      placeholder="*Reiteration your password"
      formControlName="password2"
      #password2
    />
    <div
      class="invalid"
      *ngIf="form.get('password2').invalid && form.get('password2').touched"
    >
      <small *ngIf="form.get('password2').errors.required">
        The field name cannot be empty
      </small>
      <small *ngIf="form.get('password2').errors.notEquivalent">
        Password mismatch
      </small>
    </div>
    <div class="check-container" style="margin-top: 10px">
      <p>Show your password?</p>
      <input type="checkbox" id="cbxShoePassword" style="display: none" />
      <label for="cbxShoePassword" class="check" (click)="showPassword()">
        <svg width="18px" height="18px" viewBox="0 0 18 18">
          <path
            d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z"
          ></path>
          <polyline points="1 9 7 14 15 4"></polyline>
        </svg>
      </label>
    </div>
    <div class="check-container">
      <p>To remember me?</p>
      <input type="checkbox" id="cbxRememberMe" style="display: none" />
      <label for="cbxRememberMe" class="check" (click)="autoEntrance()">
        <svg width="18px" height="18px" viewBox="0 0 18 18">
          <path
            d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z"
          ></path>
          <polyline points="1 9 7 14 15 4"></polyline>
        </svg>
      </label>
    </div>
    <input
      type="submit"
      value="Continue"
      style="cursor: pointer"
      [disabled]="form.invalid"
    />
  </div>
</form>
